<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.ShopFiltersTest"/>
      <class name="com.tests.AddCartTest"/>
      <class name="com.tests.Hometest"/>
      <class name="com.tests.RegisterAccountTest"/>
      <class name="com.tests.SanityCreateAccountTest"/>
      <class name="com.tests.LoginSanityTest"/>
      <class name="com.tests.LogoutTest"/>
      <class name="com.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
